*{
    color: white;
    align-items: center;
}
h2{
    color: aqua;
    font-family: monospace;
}
.header{
    background-color:#404040;
    height: 50px;
}
.logo>a{
    color: orange;
    position: relative;
    top: 20px;
    font-weight: 900;
    font-size: larger;
    font-family:fantasy;
}
.logo>a:hover{
    color: white;
}
nav ul{
    list-style-type: none; 
    display: flex;
    justify-content: space-evenly;
 } 
 li a{
     color: aqua;
     text-decoration: none;
     position: relative;
     top: -10px;
     padding: 5px 5px;
     background-color: orange;
    border-radius: 1em;
 }
 li a:hover{
     color: white;
     
 }
 .introduction{
     background-color:  #54595F;
     display: flex;
     align-items: center;
     text-align: center;
 }
 h1{
    color: orange;
    position: relative;
    top: -57px;
    left: 40px;
}
h2{
    text-align: center;
}
p>a{
    color: #000;
}
p>a:hover{
    color: aqua;
}
.hey{
    position: relative;
    right: -400px;
}
.introduction>img{
    position: relative;
    right: -200px;
}

 .aboutme{
    background-color: #404040;
    display: flex;
    align-items: center;
 }
 em{
     color: aqua;
     font-size: 40px;
     font-family: fantasy;
 }
 .my-icon{
     width: 100%;
     height: 100%;
     background-size: 100%;
 }
 .left{
     width: 33%;
     position: relative;
     left: 50px;
 }
 .right{
    width: 33%;
 }
 span{
     position: relative;
     right: -60px;
 }
 i:hover{
     color:aqua;
 }
 .experiences{
     background-color: #000;
     height: 450px;
 }
 /*.experiences h2{
    text-align: center;
 }*/
 .census{
    height: 300px;
    width: 430px;
    display: block;
    justify-content: space-around; 
    background-color: #6EC1E4;
     opacity: 0.7;
     margin-right: 15px;
     border-radius: 1em 3em 5em 2em;
     padding: 0.2em 2em 0.2em 2em;
    position: relative;
    left: 100px;
 }
 .compways{
    height: 400px;
    width: 430px;
    display: block;
    justify-content: space-around; 
    background-color: #0cf853;
     opacity: 0.7;
     margin-right: 15px;
     border-radius: 1em 3em 5em 2em;
     padding: 0.2em 2em 0.2em 2em;
    float: right;
    position: relative;
    top: -330px;
    left: -60px;
 }
 .compways:hover,.census:hover{
     background-color: orange;
 }
 h3,h4{
     color: #000;
 }
 #Projects{
     background-color:#666666 ;
     height: 400px;
     width: 100%;
 }
 .projects{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
    }
    .margin{
        margin-left: 350px;
    }
 /*#Projects h2{
    text-align: center;
}*/
.photography,.streetfood,.article{
    width: 30%;
    background-color: #404040;
    box-shadow: #000;
}
.photography>img,.streetfood>img,.article>img{
    width: 100%;
    height: 150px;
}
 a.btn{
     text-align: center;
     padding: 3px 6px 3px 5px;
     background-color: orange;
     border-radius: 0.2rem;
 }
 #Contact{
    background-color: #333;
 }
/*.contact>h2{
    text-align: center;
}*/
.contact>form{
    text-align: center;
    color:black;
}
.mid>p{
    font-size: larger;
    font-weight: 600;
    font-family: fantasy;
    color: orange;
    position: relative;
    bottom: -150px;
    left: 150px;
}